.body-main {
    margin:0px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.wrapper-main {
    width: 100%;
    margin: 0 auto;
}


.cover1 {
    display:flex;
    flex-basis: 420px;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(../img/Workshop-Pano-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0px;
    padding: 10px;

}

.cover2 {
    flex-basis: 420px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(../img/Workshop-3.jpg);
}

.mhdiv{
    display:flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;

}

.hdiv1{
    width: 10px;
    height: 10px;
    margin-top: 50px;
    flex-shrink: 1;
    background-color: black;  
}

.hlogo1 {
    display: block;
    flex-basis: 260px;
    width: 265px;
    height: 120px;
    background-image: url(../img/Logo-KRR-text-Big-Tr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 30px;
    padding-top: 0px;
    filter: drop-shadow(2px 2px 3px #373737);
}

.hnav1{
    width: 10px;
    height: 10px;
    margin-top: 50px;
    flex-shrink: 1;
    background-color: black;
}

.c-main {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 10px;

}

.h1 {
    width: 110px;
    height: 30px;
    font-size: 48px;
}

.p1 {
    width: 345px;
    height: 30px;
    font-size: x-large;
    text-align: center;
}

.hlogoX {
    display: block;
    width: 270px;
    height: 120px;
    background-image: url(../img/Logo-KRR-text-Big-Tr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin: 10px;
    padding-top: 0px;
    filter: drop-shadow(2px 2px 3px #F05A28);
}

.map1{
    display:flex;
    flex-basis: 500px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.mapI{
    align-self: center;
    width: 800px;
    background-position: center;
}

/* Mobile Version 600*/

@media only screen and (max-width: 600px) {

    .wrapper-main {
        width: 100%;
    }
}