html {
    height: 100vh;
    overflow: hidden;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #222;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: fixed;
  }
.section1, .section2, .section3 {
    width:100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
  }
  .section1 {
    box-shadow: inset 0px -12px 50px;
  }
  .section1::before {
    content:"";
    width:100%;
    height: 100%;
    position: absolute;
    background: url(../img/Workshop-Pano-1.jpg) top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
    filter: blur(2px);
    
  }
  .section2 {
    background: rgb(0, 0, 0);
  }
  .section3::before {
    content:"";
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/Tools-4k.jpg) top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
    box-shadow: inset 0px 2px 50px;
    /*filter: blur(2px);*/
  }
  .logo1{
    top:30%;
    left:50%;
    position: absolute;
    width: 325px;
    height: 150px;
    background-image: url(../img/Logo-KRR-text-Big2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    filter: drop-shadow(3px 3px 2.5px #373737);
    transform: scale(1,1.1) translate(-50%, 10%);
}
.Main1{
    position: absolute;
    display:flex;
    justify-content: center;
    margin: 0px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.mapI{
    position: absolute;
    width: 1000px;
    background-position: center;
    margin: 0px;
}
.p1{
    width: 100%;
    height: 30px;
    color: white;
    font-size: x-large;
    text-align: center;
    filter: drop-shadow(0px 0px 3px #F05A28);
}
.box{
    width: 100px;
    height: 2px;
    background-color: black;
    box-shadow:
    0 0 5px;
}
.chainring{
    top:20%;
    left:56%;
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url(../img/shimano-chainring.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }


.chainring2{
    top:20%;
    right:56%;
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url(../img/shimano-chainring.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}

/*.scroll-tracker {
  position: fixed;
  height: 20px;
  inset: 0 0 auto;
  background-color: #F05A28;
}

@keyframes scroll-watcher {
  to {scale:1 1; }
}

#scrollObject{
  position: fixed;
  right: 3vw;
  bottom: 3vh;
  top: auto;
  width: 7vh;
  height: auto;
  transition: 0.1s ease-out;
}

.boxA {
  height: 80px;
  width: 80px;
  background: red;
}

.fixed {
  position: fixed;
  left: 50%;
  top: 48%;
}
*/